@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
    --clr-red: hsl(0, 100%, 74%);
    --clr-green: hsl(154, 59%, 51%);
    --clr-violet: hsl(248, 32%, 49%);
    --clr-dark-blue: hsl(249, 10%, 26%);
    --clr-grayish-blue: hsl(246, 25%, 77%);
    --clr-white: #ffffff;
    /* Fonts */
    --poppins: 'Poppins', sans-serif;
}

/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-image: url('images/bg-intro-mobile.png');
    background-color: var(--clr-red);
    display: flex;
    flex-direction: column;
    font-family: var(--poppins);
    font-size: 16px;
}

/* Container one styles */

.container-one {
    margin-top: 5em;
}

.container-one > .container-hd {
    font-weight: 700;
    color: var(--clr-white);
    text-align: center;
    padding: 0 2em;
}

.container-one > .container-txt {
    font-weight: 400;
    color: var(--clr-white);
    text-align: center;
    margin: 1.7em 0;
    padding: 0 2em;
}

/* Container two styles */

.container-two {
    background-color: var(--clr-violet);
    color: var(--clr-white);
    width: 90%;
    margin-top: 3em;
    align-self: center;
    text-align: center;
    padding: 1em 3em;
    border-radius: 8px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
}

.container-two > span {
    font-weight: 400;
}

/* Form styles */

.form {
    margin-top: 1.8em;
    margin-bottom: 5em;
    width: 90%;
    padding: 1em 0;
    align-self: center;
    background-color: var(--clr-white);
    border-radius: 8px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
}

.form > div {
    width: 90%;
    margin: 0 auto 1em auto;
}

.form-field {
    position: relative;
}

.form-field > input {
    border: 1px solid #CCC;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    padding: 0.9em 1em;
}

.form-field > input:focus {
    outline: 0;
    border: 2px solid var(--clr-grayish-blue);
}

.form-field.error > input {
    background-image: url('images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: center right 1em;
}

.form-field > small {
    display: none;
    float: right;
    margin-bottom: 1em;
    font-family: inherit;
    font-weight: 400;
    font-size: 0.6em;
    font-style: italic;
    color: var(--clr-red);
}

.form-field.error > small {
    display: block;
}

/* Button styles */

.form-btn > button {
    display: block;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    background-color: var(--clr-green);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 600;
    color: var(--clr-white);
    border: 2px solid var(--clr-green);
    cursor: pointer;
    transition: 0.1s all linear;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.form-btn > button:hover {
    opacity: 0.8;
}

/* Terms and services */
.form-ftr {
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8em;
    color: var(--clr-grayish-blue);
}

.form-ftr > p {
    padding: 0 1em;
}

.form-ftr > p > span {
    color: var(--clr-red);
    font-weight: 500;
}

/* Desktop design */

@media screen and (min-width:1200px) {
    
    body {
        background-image: url('images/bg-intro-desktop.png');
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        /*border: 1px solid #000;*/
        width: 75%;
    }

    .container-one {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .container-two {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .form {
        grid-row-start: 2;
        grid-column-start: 2;
        padding: 2em 1.5em;
    }

}

