@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
    --clr-red: hsl(0, 100%, 74%) ;
    --clr-green: hsl(154, 59%, 51%);
    --clr-blue: hsl(248, 32%, 49%);
    --clr-dark-blue: hsl(249, 10%, 26%);
    --clr-grayish-blue: hsl(246, 25%, 77%);
    --clr-white: #ffffff;
    /* Fonts */
    --poppins: 'Poppins', sans-serif;
}

/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-image: url('images/bg-intro-mobile.png');
    background-color: var(--clr-red);
    display: flex;
    flex-direction: column;
    font-family: var(--poppins);
    font-size: 16px;
}

/* Container one styles */

.container-one {
    margin-top: 5em;
}

.container-one > .container-hd {
    font-weight: 700;
    color: var(--clr-white);
    text-align: center;
    padding: 0 2em;
}

.container-one > .container-txt {
    font-weight: 400;
    color: var(--clr-white);
    text-align: center;
    margin: 1.7em 0;
    padding: 0 2em;
}

/* Container two styles */

.container-two {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    width: 90%;
    margin-top: 3em;
    margin-bottom: 3em;
    align-self: center;
    text-align: center;
    padding: 1em 3em;
    border-radius: 8px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
}

.container-two > span {
    font-weight: 400;
}